@model ContactVitewModel
@{
  
    ViewBag.Title = "Contact";
}


<h1>Contact</h1>
<h2>Phone : @ViewBag.Number</h2>
<h2>Name : @ViewBag.Name</h2>

@*<hr />
<h1>@ViewBag.Person.Name</h1>
<h1>@ViewBag.Person.Surname</h1>
<h1>@ViewBag.Person.Age</h1>*@

<hr />
<h2>@Model.Person.Name</h2>
<h2>@Model.Person.Surname</h2>
<h2>@Model.Person.Age</h2>
<h2>@Model.Car.Marka</h2>


@**<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Contact</title>
        <link rel="stylesheet" href="~/css/Style.css" />
    </head>
    <body>
        <h1>Contact</h1>
        @if (false)
        {
            <h1>Contact</h1>
        }
        else
        {
            <h1>Else</h1>
        }
    </body>
    </html>*@
