@model Search
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*<img src="@(@Model.Poster == "N/A" ?  "/images/placeholder.png":@Model.Poster)" class="card-img-top" alt="...">*@
    @*<img src="@Model.Poster" class="card-img-top" alt="...">*@
<img src="@Model.Poster" onerror="event.target.src='/images/placeholder.png'" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">Year : @Model.Year</p>
        @*<small>Tipe: @Model.Type</small>*@
        @if (Model.Plot == null)
        {
            @*<a asp-action="Movie" asp-controller="Home" asp-route-id="@Model.imdbID" class="btn btn-primary">Detail</a>*@
            @*<movie-details movie="@Model"></movie-details>*@
            <a movie="@Model"></a>
        }

    </div>